---
layout: page
title: Tags
---

{% for tag in site.tags %}

{{tag | first}}

{% endfor %}

<hr>

<p>

<code>
{{ site.keys | sort| inspect }}
</code>

<hr>
<code>
{{ site.tags | sort| inspect }}
</code>

<hr>
<code>
{{ request.params|inspect }}
</code>
<hr>
<code>
	{{ site.posts[0].tags | join:", " }}
</code>

{% for post in site.posts %}
    {% if post.tags != empty %}
        <b>Tags:</b>
        {% for tag in post.tags %}
            <a href="{{site.baseurl}}/{{site.tag_page_dir}}/{{tag|slugify}}">{{ tag }}</a>
        {% endfor %}
    {% endif %}
{% endfor %}

